# Сборка .NET
bin/
obj/
*.user

# Логи и временные файлы
*.log
deploy_log.txt
install_report.txt
versions.txt

# Секреты и конфиги (если ты не хочешь светить свои пути)
config.json

# Системные файлы
.DS_Store
.vs/
.vscode/